.createOglas-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5em;
  min-height: 1000px;
}

.createOglas-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  border: 3px solid #427d9d;
  background-color: #427d9d;
  border-radius: 15px;
  color: #ddf2fd;
  padding: 2em;
  justify-content: center;
}

.createOglas-form-title,
.createOglas-form-city,
.createOglas-form-country,
.createOglas-form-price,
.createOglas-form-size,
.createOglas-form-type,
.createOglas-form-file,
.createOglas-form-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.createOglas-form-title-1,
.createOglas-form-city-1,
.createOglas-form-country-1,
.createOglas-form-price-1,
.createOglas-form-size-1,
.createOglas-form-type-1,
.createOglas-form-file-1 {
  width: 30%;
}

.createOglas-form-title label,
.createOglas-form-city label,
.createOglas-form-country label,
.createOglas-form-price label,
.createOglas-form-size label,
.createOglas-form-type label,
.createOglas-form-file label {
  font-size: 1.5rem;
}

.createOglas-form-title input,
.createOglas-form-city input,
.createOglas-form-country input,
.createOglas-form-price input,
.createOglas-form-size input,
.createOglas-form-type input,
.createOglas-form-file input {
  font-size: 1.5rem;
  padding-left: 0.5em;
  border-radius: 15px;
}

.createOglas-form-type-radiogroup {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.createOglas-form-file {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.createOglas-form-file-2 {
  overflow: hidden;
}

.createOglas-form-file-1 {
  width: 30%;
}

.createOglas-form-file label {
  font-size: 1.5rem;
}

.createOglas-form-file input {
  font-size: 1.5rem;
}

.createOglas-form-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}
@media only screen and (max-width: 768px) {
  .createOglas-form {
    width: 90%;
  }
  .createOglas-main {
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media only screen and (max-width: 650px) {
  .createOglas-form {
    display: flex;
    flex-direction: column;
  }
  .createOglas-form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
  }
  .createOglas-form-button {
    margin-top: 3rem;
  }
}
