.createQuestion-main {
  min-height: 1000px;
  display: flex;
  justify-content: center;
  padding: 2em;
}
.question-form {
  width: 40%;
  border: 3px solid #427d9d;
  border-radius: 15px;
  height: 600px;
}
.question-title-cq {
  padding: 0.5em;
}
.question-title-cq div {
  margin-top: 0.5em;
}
.question-text {
  height: 60%;
  padding: 0.5em;
}
.question-textarea {
  margin-top: 1em;
  height: 90%;
}
.question-button {
  padding: 0.5em;
}
@media only screen and (max-width: 768px) {
}
