.createAnswer-main {
  height: 1700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em;
}
.createAnswer-form {
  width: 80%;
  height: 20%;
  border: 2px solid #427d9d;
  border-radius: 15px;
  display: flex;
  padding: 1em;
  flex-direction: column;
  justify-content: center;
}
.answer-data div {
  margin-bottom: 0.5em;
}
.answer-button {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}
