.profil-main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  min-height: 1000px;
  height: auto;
}
.profil-main-1 {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 3px solid #427d9d;
  background-color: #427d9d;
  height: 20em;
  border-radius: 15px;
  margin-bottom: 1em;
}
.podaci {
  display: flex;
  flex-direction: row;
}
.profil-data-image {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3em;
  overflow: hidden;
}
.profil-data-image img {
  height: 100%;
  width: 100%;
}
.profil-data-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #ddf2fd;
}
.profil-dugmad {
  display: flex;
  width: 60%;
  justify-content: space-around;
}
.profil-main-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30em;
  border: 2px solid #427d9d;
  background-color: #427d9d;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  color: #ddf2fd;
}
.profil-oglasi {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  justify-content: flex-start;
  height: 80%;
  border: 2px solid #ddf2fd;
  width: 90%;
  align-items: center;
  padding-left: 5rem;
  border-radius: 15px;
}

.oglasi-korisnika-naslov {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-left: 35px;
  margin-bottom: 1em;
}
.profil-dugmad-dp {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em;
}
@media only screen and (max-width: 768px) {
  .profil-main-1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .podaci {
    flex-direction: column;
  }
  .profil-data-info div {
    text-align: center;
  }
  .profil-oglasi {
    padding-left: 1rem;
  }

  .profil-main-2 {
    height: 1000px;
    display: flex;
    flex-direction: column;
  }
  .profil-oglasi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1em;
  }
  .profil-data-image {
    margin-left: 10%;
  }
  .profil-dugmad-dp {
    width: 90%;
  }
}
@media only screen and (max-width: 650px) {
  .profil-main-1 {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profil-dugmad-dp {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .profil-dugmad-dp div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    padding-left: 1.2em;
    margin: 0.5em;
  }
  .profil-data-image {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5em;
    margin-left: 0.5em;
    overflow: hidden;
  }
  .profil-data-image img {
    height: 100%;
    width: 100%;
  }
  .podaci {
    flex-direction: column;
  }
  .profil-data-info div {
    text-align: center;
    font-size: 0.8rem;
  }
  .profil-oglasi {
    padding-left: 1rem;
  }

  .profil-main-2 {
    height: 1000px;
    display: flex;
    flex-direction: column;
  }
  .profil-oglasi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1em;
  }
  .profil-data-image {
    margin-left: 10%;
  }
}
