.editProfile-main {
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  padding: 2em;
  align-items: center;
}
.editProfile-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  border: 3px solid;
  border-radius: 15px;
  overflow: hidden;
  background-color: #427d9d;
  height: auto;
  justify-content: space-evenly;
}
.ImeiPrezime {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  justify-content: space-around;
  height: 20%;
}
.Ime {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  justify-content: center;
  width: 50%;
}
.Prezime {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  justify-content: center;
  width: 50%;
}
.Email {
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
}
.Email div {
  width: 90%;
}
.password {
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
}
.password div {
  width: 90%;
}
.dugme {
  margin: 3em;
  width: 20%;
}
@media only screen and (max-width: 768px) {
  .editProfile-form {
    width: 80%;
  }
  .dugme {
    width: 30%;
  }
}
@media only screen and (max-width: 650px) {
  .editProfile-form {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    width: 50%;
    padding: 0;
  }
  .editProfile-form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .ImeiPrezime {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
