.forum-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 1600px;
  overflow-y: scrolls;
  padding-bottom: 2em;
}
.create-button {
  margin-top: 1em;
  width: 90%;
  padding-right: 2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
@media only screen and (max-width: 768px) {
  .create-button {
    justify-content: center;
  }
}
