.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.5em;
  padding-top: 1em;
  background-color: #427d9d;
  height: 5rem;
  align-items: center;
}
.app-name {
  display: flex;
  align-items: center;
}

.app-name a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.app-name h1 {
  margin: 0;
}
.logoIIme {
  display: flex;
  align-items: center;
}
.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.5em;
  margin-left: 1em;
  width: 100px;
  height: 100%;
}
.logo img {
  width: 70%;
  height: 90%;
  object-fit: contain;
}
.navigation-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 3em;
}
.dugmeiNav {
  display: flex;
  flex-direction: column;
}
.navigation-link {
  border: 1px solid #9bbec8;
  padding: 0.5rem;
  margin-left: 1rem;
  border-radius: 15px;
}
.navigation-link a {
  text-decoration: none;
  color: black;
  font-size: 18pt;
}
.navigation-link:hover {
  background-color: #9bbec8;
  transition: 1s;
}
.dugme-nav {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 0;
}
.dugme-nav button {
  background-color: transparent;
  border: transparent;
}
@media only screen and (max-width: 768px) {
  .navigation {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }
  .logoIIme {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .app-name,
  .logo {
    margin-left: 0;
    justify-content: center;
    text-align: center;
  }

  .navigation-links {
    justify-content: center;
    margin: 1em 0;
  }
  .navigation-link {
    width: 50px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .navigation-link a {
    margin: 0.5em;
    font-size: 1rem;
  }

  .dugme-nav {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .dugme-nav button {
    font-size: 1rem;
    align-items: center;
  }
  .logout-button {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 650px) {
  .navigation {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }

  .logoIIme {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .app-name,
  .logo {
    margin-left: 0;
    justify-content: center;
    text-align: center;
  }

  .navigation-links {
    justify-content: center;
    margin: 1em 0;
  }

  .navigation-link {
    width: 50px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .navigation-link a {
    margin: 0.5em;
    font-size: 1rem;
  }

  .dugme-nav {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .dugme-nav button {
    font-size: 1rem;
    align-items: center;
  }

  .logout-button {
    font-size: 1rem;
  }
}
