.question-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  border: 5px solid #427d9d;
  width: 50%;
  border-radius: 15px;
  padding: 0.5em;
  word-wrap: break-word;
}
.question-main-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #427d9d;
  padding: 1em;
}
.question-user-image {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  object-fit: contain;
  border-radius: 50%;
}
.question-main-1 img {
  height: 100%;
  width: 100%;
}
.question-user-name {
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.question-user-name a {
  text-decoration: none;
  color: #427d9d;
}
.question-main-2 {
  display: flex;
  flex-direction: column;
}
.question-title {
  font-size: 18pt;
  padding-left: 0.5em;
  border-bottom: 1px solid black;
  margin-bottom: 0.5em;
  color: #427d9d;
}
.question-content {
  font-size: 1rem;
  padding-left: 2em;
  margin-bottom: 0.75em;
  border-bottom: 2px solid black;
  padding-bottom: 0.3em;
  color: #427d9d;
  white-space: pre-wrap;
}
.options {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.user_info {
  display: flex;
  flex-direction: row;
  min-width: 150px;
  width: 100%;
}
.link {
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 768px) {
  .question-main {
    width: 90%;
    height: auto;
  }
  .question-user-image {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 3em;
    object-fit: contain;
    border-radius: 50%;
  }
  .options {
    width: 20%;
  }
  .question-main-1 img {
    height: 100%;
    width: 100%;
  }
  .question-main div {
    font-size: 1rem;
  }
  .question-content {
    padding-left: 0.5em;
  }
  .user_info {
    flex-direction: row;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 650px) {
  .question-main {
    width: 80%;
  }
  .options {
    width: 5%;
  }
  .question-main div {
    font-size: 0.8rem;
  }
}
